<template>
  <div class="about animated bounceIn">
    <h1>Sup {{ userName }}</h1>
    <h3>This is an about page</h3>
  </div>
</template>

<script>
    export default {
        name: 'about',
        data() {
            return {
                name: this.$route.params.name
            }
        },
        computed: {
            userName() {
                return this.$store.state.user_name
            }
        },
    }
</script>