<template>
  <div class="home animated bounceIn">
    <h1 class="d-block mb-3 mb-lg-4">Welcome, {{ userName }}</h1>
    <div class="row" :style="{ fontSize: postFontSize + 'em' }">
      <div class="col-12 col-md-6 col-lg-7">
        <input type="text" class="form-control d-block mb-3" :value="userName" name="user-name" id="user-name" @input="updateUserName">
        <skills/>
      </div><!-- end col -->
      <div class="col-12 col-md-6 col-lg-5">
        <loginform></loginform>
        <profile v-on:enlarge-text="postFontSize += 0.1"></profile>
        <userposts v-on:enlarge-text="postFontSize += 0.1"></userposts>
      </div><!-- end col -->
    </div><!-- end row -->
  </div>
</template>

<script>
// @ is an alias to /src
import skills from '@/components/skills.vue'
import profile from '@/components/profile.vue'
import userposts from '@/components/user-posts.vue'
import loginform from '@/components/login-form.vue'

export default {
  name: 'home',
    data() {
        return {
            postFontSize: 1
        }
    },
    computed: {
        userName() {
            return this.$store.state.user_name
        },
        isLoggedIn() {
            return this.$store.state.auth
        },
        userData() {
            return this.$store.state.userData
        }
    },
    methods: {
        updateUserName(e) {
            this.$store.commit('update_user_name', e.target.value)
        }
    },
    components: {
      skills,
      profile,
      userposts,
      loginform,
    }
}
</script>
