<template>
    <div class="login">
        <h1>Auth Status: {{ isLoggedIn }}</h1>
        <span v-html="getAuthAttempt"></span>

        <div v-if="isLoggedIn">
            <h2>Token: {{ getToken }}</h2>
            <button v-on:click="doLogout">Logout</button>
        </div>
        <loginform></loginform>


    </div>
</template>

<script>

    import axios from 'axios';
    import loginform from '@/components/login-form.vue'

    export default {
        name: 'login',
        components: {
            loginform
        },
        data: function(){
            return {
                authAttempt: '',
                authMessage: '',
                userName: '',
                password: ''
            }
        },
        computed: {
            isLoggedIn() {
                return this.$store.state.auth
            },
            getToken() {
                return this.$store.state.token
            },
            getAuthAttempt() {
                switch (this.authAttempt) {
                    case '':
                        break;

                    case 'fail':
                        return '<p style="color: red;">'+this.authMessage+'</p>'
                        break;

                    case 'success':
                        return '<p style="color: green;">'+this.authMessage+'</p>'
                        break;
                }
            }
        },
        methods: {
            doLogin () {
                axios.post('http://localhost:8000/api/v1/auth/login', {username: this.userName, password: this.password, source: 'Web App'})
                    .then(response => {

                        console.log(response.data);
                        let data = response.data;

                        this.authAttempt = data.status;
                        this.authMessage = data.message;

                        if(data.status == 'success'){
                            this.$store.commit('login', data.token);
                        }

                        axios.get('http://localhost:8000/api/v1/me')
                            .then(meresponse => {
                                this.$store.commit('updateUser', meresponse.data);
                            })
                            .catch(e => {
                                if(e.response.status === 401){
                                    axios.post('http://localhost:8000/api/v1/auth/logout')
                                        .then(failresponse => {
                                            this.$store.commit('logout');
                                        })
                                        .catch(e => {
                                            console.log(e.failresponse.data);
                                        })
                                }
                            })

                    })
                    .catch(e => {
                        console.log(e);
                        let data = e.response.data;

                        this.authAttempt = data.status;
                        this.authMessage = data.message;
                    })

            },
            doLogout () {

                axios.post('http://localhost:8000/api/v1/auth/logout')
                    .then(response => {

                        console.log(response.data);

                        this.$store.commit('logout');
                        this.authAttempt = '';
                        this.authMessage = '';

                    })
                    .catch(e => {
                        console.log(e.response.data);
                    })


            }
        }
    }
</script>

<style>

    .login {

    }
</style>
