<template>
    <div class="panel login">
        <div class="panel-heading p-3 px-lg-4">
            <h4 class="d-block m-0">{{ msg }}</h4>
        </div>
        <div class="panel-body p-3 p-lg-4">


            <h5>Auth Status: {{ isLoggedIn }}</h5>
            <span v-html="getAuthAttempt"></span>

            <div v-if="isLoggedIn">
                <p style="word-break: break-all;">Token: {{ getToken }}</p>
                <button v-on:click="doLogout">Logout</button>
            </div>
            <div class="form-group" v-else>
                <input class="form-control form-control-lg" v-model="userName" placeholder="User Name:" type="text"><br />
                <input class="form-control form-control-lg" v-model="password" placeholder="Password:" type="password"><br />
                <button type="button" class="btn btn-primary" v-on:click="doLogin">Login</button>

                <p>Username: {{ userName }}</p>
                <p>Password: {{ password }}</p>
            </div>


            <!--<form class="form">-->
                <!--<div class="form-group">-->
                    <!--<label for="user-name">Your name</label>-->
                    <!--{{ userName }}-->
                    <!--<input type="text" class="form-control" :value="userName" name="user-name" id="user-name" @input="updateUserName">-->
                <!--</div>-->
            <!--</form>-->
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'loginform',
        data: function(){
            return {
                msg: 'Log in',
                authAttempt: '',
                authMessage: '',
                userName: '',
                password: ''
            }
        },
        computed: {
            isLoggedIn() {
                return this.$store.state.auth
            },
            getToken() {
                return this.$store.state.token
            },
            getAuthAttempt() {
                switch (this.authAttempt) {
                    case '':
                        break;

                    case 'fail':
                        return '<p style="color: red;">'+this.authMessage+'</p>'
                        break;

                    case 'success':
                        return '<p style="color: green;">'+this.authMessage+'</p>'
                        break;
                }
            }
        },
        methods: {
            doLogin () {
                axios.post('http://vueapi.com/api/v1/auth/login', {username: this.userName, password: this.password, source: 'Web App'})
                    .then(response => {
                        console.log(response.data);
                        let data = response.data;

                        this.authAttempt = data.status;
                        this.authMessage = data.message;

                        if(data.status == 'success'){
                            this.$store.commit('login', data.token);
                        }

                        axios.get('http://vueapi.com/api/v1/me')
                            .then(meresponse => {
                                this.$store.commit('updateUser', meresponse.data);
                            })
                            .catch(e => {
                                if(e.response.status === 401){
                                    axios.post('http://localhost:8000/api/v1/auth/logout')
                                        .then(failresponse => {
                                            this.$store.commit('logout');
                                        })
                                        .catch(e => {
                                            console.log(e.failresponse.data);
                                        })
                                }
                            })

                    })
                    .catch(e => {
                        console.log(e);
                        let data = e.response.data;
                        this.authAttempt = data.status;
                        this.authMessage = data.message;
                    })

            },
            doLogout () {

                axios.post('http://vueapi.com/api/v1/auth/logout')
                    .then(response => {

                        console.log(response.data);

                        this.$store.commit('logout');
                        this.authAttempt = '';
                        this.authMessage = '';

                    })
                    .catch(e => {
                        console.log(e.response.data);
                    })


            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .panel.login{
        background: #fff;
        box-shadow: 2px 2px 7px rgba(0,0,0,.06);
    }
    form{}
    form input{width: 100%;}
</style>
