<template>
    <div class="panel profile mt-3 mt-lg-4">
        <div class="panel-heading p-3 px-lg-4">
            <h4 class="d-block m-0">{{ msg }}</h4>
        </div>
        <div class="panel-body p-3 p-lg-4">
            <form class="form">
                <div class="form-group">
                    <label for="user-name">Your name</label>
                    {{ userName }}
                    <input type="text" class="form-control" :value="userName" name="user-name" id="user-name" @input="updateUserName">
                </div>
            </form>
            <button v-on:click="$emit('enlarge-text')">
                Enlarge text
            </button>
        </div>
    </div>
</template>

<script>
  export default {
        name: 'profile',
        data() {
            return {
                msg: 'Edit your profile'
            }
        },
        computed: {
            userName() {
                return this.$store.state.user_name
            }
        },
        methods: {
            updateUserName(e) {
                this.$store.commit('update_user_name', e.target.value)
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .panel.profile{
        background: #fff;
        box-shadow: 2px 2px 7px rgba(0,0,0,.06);
    }
    form{}
    form input{width: 100%;}
</style>
