<template>
    <div class="panel skills p-3 p-md-4 p-lg-5">
      <h3>Here are your skills, {{ userName }}</h3>
      <p v-if="skills.length > 0">You got skills, bruh.</p>
      <p v-else>You got no skills, go to school.</p>
      <div class="clearfix"></div>

      <form class="mt-4" @submit.prevent="addSkill">
        <input placeholder="Add a skill" v-model="skill" type="text" class="form-control">
      </form>

      <ul class="mylist mt-3 mb-3">
        <transition-group name="skillsList" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
          <li class="p-2 p-md-3" v-for="(data, index) in skills" :key="index">{{data.skill}} <i class="fa fa-minus-circle float-right" v-on:click="removeSkill(index)"></i></li>
        </transition-group>
      </ul>

    </div>
</template>

<script>

export default {
    name: 'skills',
    data() {
        return {
            skill: '',
            skills: [
                {'skill': 'swimming'},
                {'skill': 'running'},
            ],
        }
    },
    methods: {
      addSkill() {
          this.skills.push({'skill': this.skill})
          this.skill = ''
      },
        removeSkill(id) {
          this.skills.splice(id, 1)
        },
    },
    computed: {
        userName() {
            return this.$store.state.user_name
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.panel.skills{
  background: #fff;
  box-shadow: 2px 2px 7px rgba(0,0,0,.06);
}
  form{}
  form input{width: 100%;}

  ul.mylist{margin: 0;padding: 0;}
  ul.mylist li{display: block;background: #EFEDF4;border-left: 4px solid transparent;color: #58506B;}
  ul.mylist li:hover{border-left: 4px solid #7336F7;}
  ul.mylist li:nth-child(even){background: #E2DEEA;}
  ul.mylist li i.fa{padding: 2px;}
  ul.mylist li i.fa:hover{cursor: pointer;color: #e84118;}
</style>
