<template>
    <div class="panel posts mt-3 mt-lg-4">
        <div class="panel-heading p-3 px-lg-4">
            <h3 class="d-inline-block m-0">Your posts</h3>
            <p v-if="posts.length > 0" class="d-inline-block float-right mt-2 mb-0">{{ posts.length }} posts total.</p>
        </div>
        <span v-if="posts.length == 0">
            <p>You have not posted anything yet.</p>
            <a href="#" class="btn btn-primary">Create</a>
        </span>
        <div class="clearfix"></div>
        <span v-if="!componentLoaded">
            <h2 class="d-block text-center">Loading!!!</h2>
        </span>
        <ul class="post_list">
            <transition-group name="postList" enter-active-class="animated" leave-active-class="animated flipOutX">
                <li class="p-2 p-md-3 px-lg-4" v-for="(data, index) in posts" :key="index">{{ data.title }}</li>
            </transition-group>
        </ul>

    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'userposts',
        data() {
            return {
                componentLoaded: false,
                posts: [],
            }
        },
        mounted () {
            axios.get('https://jsonplaceholder.typicode.com/posts')
                .then(
                    response => (
                        this.posts = response.data,
                        this.componentLoaded = true
                    )
                ).catch(error => console.log(error))
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .panel.posts{
        background: #fff;
        box-shadow: 2px 2px 7px rgba(0,0,0,.06);
    }
    ul.post_list{margin: 0;padding: 0;max-height: 400px;overflow: scroll;}
    ul.post_list li{display: block;background: #EFEDF4;border-left: 4px solid transparent;color: #58506B;}
    ul.post_list li:hover{border-left: 4px solid #7336F7;}
    ul.post_list li:nth-child(even){background: #E2DEEA;}
    ul.post_list li i.fa{padding: 2px;}
    ul.post_list li i.fa:hover{cursor: pointer;color: #e84118;}
</style>
