<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 mb-md-4">
      <div class="container">
        <router-link to="/" class="navbar-brand"><img alt="Vue logo" src="./assets/owl.svg" style="max-width: 32px;height: auto;width:32px;" class="animated fadeIn"></router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <router-link to="/" class="nav-link">Home</router-link>
            </li>
            <li class="nav-item" v-if="isLoggedIn">
              <router-link to="/about" class="nav-link">About</router-link>
            </li>
            <li class="nav-item" v-if="isLoggedIn">
              <router-link to="/login" class="nav-link">Logout</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <router-view/>
    </div>
    <footer class="main mt-3 mt-lg-4 mt-xl-5 py-2 py-lg-3 py-xl-4">
      <div class="container">
          <span v-if="isLoggedIn">
          <p>enKrypt: {{ getEnKryptToken }}</p>
          <p>Name: {{ getUser }}</p>
        </span>
        <span v-else>
          <p>Welcome, you are logged out</p>
        </span>
      </div>
    </footer>
  </div>
</template>

<style>
  body{background: #f4f4f4;}
  ul.nabar-nav{}
  ul.navbar-nav li{}
  ul.navbar-nav li a.nav-link{}
  ul.navbar-nav li a.nav-link.router-link-exact-active{color: #000;}
  footer.main{background: #fff;border-top: 1px solid rgba(0,0,0,.1);min-height: 50px;font-size: 0.9em;}
  footer.main p:last-child{margin: 0;}
</style>

<script>

    export default {
        computed: {
            isLoggedIn() {
                return this.$store.state.auth
            },
            getEnKryptToken() {
                return this.$store.state.token
            },
            getUser() {
                return this.$store.state.userData.user.name
            }
        }
    }

</script>